@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur-overlay {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.7);
}

/* PDF Page Styling */
.pdf-page canvas {
  width: 100% !important;
  height: auto !important;
  display: block;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
